@import '../../App.scss';

.recipe{
    position: relative;
    width: $width;
    font-family: $font;
    overflow: hidden;

    .titles{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 1em;
        flex-wrap: wrap;
        flex: 1/1;

        aside{
            border-right: 0.01em solid $black;
            padding: 0 .2em;
        }
    }

    .btn{
        width: calc($wk-width * 0.2);
        padding: .7em 0;
        outline: none;
        margin: 2em;
        font-family: $font;
        font-size: $font;
        border-radius: $small-radius;
        font-weight: 700;
        cursor: pointer;
    }

    #all{
        background: none;
        color: $main;
        border: 0.03em solid $main;

        &:hover{
            background: $main;
            color: $white;
        }
    }
    #saved{
        background: $accent;
        color: $black;
        border: none;

        &:hover{
            border: 0.03em solid $accent;
            background: none;
        }
    }

    .recipe-container{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1em;

        .recipe-content{
            position: relative;
            align-self: center;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            flex: 1/1;
            margin: 0 1em;
            gap: 2em;

            .rep{
                position: relative;
                // margin: 0 1em;
                text-transform: capitalize;
                text-align: center;
                box-shadow: 0.01em 0.01em 0.8em rgba($black, 0.5);
                border-radius: $small-radius;
                

                #rate{
                    position: absolute;
                    top: 2%;
                    right: 2%;
                    background: $main;
                    color: $white;
                    padding: .3em;
                    border-radius: $radius;

                    img{
                        position: relative;
                        object-fit: contain;
                        border-top-right-radius: $small-radius;
                        border-top-left-radius: $small-radius;
                    }
                }
            }
        }
    }
}