@import '../../App.scss';

.hero{
    position: relative;
    height: $height;
    width: $width;
    background: url('../../assets/herobg.png') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    // align-items: center;

    span{
        width: 40%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $white;
        margin: 4em 2em;
        z-index: 1;

        h1{
            font-size: $extra-large-text;
            font-family: $header-font;
        }

        p{
            font-size: $text;
        }

        .link{
            position: absolute;
            bottom: 0;
            color: $white;
            text-decoration: none;
            font-size: $text;
            background: $main;
            padding: .5em 1.5em;
            border-radius: $small-radius;

            &:hover{
                background: rgba($main, 0.8);
            }
        }
    }
}

@media screen and (width: 1024px) {
    .hero{

        span{
            width: 60%;
        }
    }
}

@media screen and (max-width: 480px) {
    .hero{
        position: relative;
        width: $width;
        height: $height;

        label{
            display: none;
        }

        span{
            width: 100%;
            margin: 2em 0;
            padding: .5em;
            z-index: 0;

            h1{
                font-size: calc($large-text * 1.7);
            }

            .link{
                bottom: -4%;
            }
        }
    }
}
@media screen and (max-width: 380px) {
    .hero{

        span{
            z-index: 0;

            h1{
                font-size: calc($large-text * 1.5);
            }
        }
    }
}