@import '../../App.scss';

.features{
    position: relative;
    width: $width;
    display: flex;
    flex-direction: column;
    padding: 2em;
    font-family: $font;

    h1, p{
        align-self: center;
        text-align: center;
    }

    h1{
        color: $main;
    }

    .container{
        position: relative;
        width: 100%;
        display: flex;
        gap: 2em;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        .flexItem {
            position: relative;
            border-radius: $small-radius;
            box-shadow: 0.01em 0.01em 0.8em rgba($black, 0.5);
            height: calc($wk-height * 0.2);
            width: calc($wk-width * 0.2);
            text-align: left;
            font-family: $font;
            margin: 2em 0;
            text-decoration: none;
            
            img {
                position: relative;
                border-top-right-radius: $small-radius;
                border-top-left-radius: $small-radius;
                height: 70%;
                width: 100%;
            }
            p, h4 {
                text-align: center;
                text-transform: capitalize;
            }

            p{
                color: $accent;
            }

            h4{
                color: $black;
            }
            #p{
                color: $black;
            }

            #rate{
                position: absolute;
                top: 2%;
                right: 2%;
                background: $main;
                border: none;
                outline: none;
                color: $white;
                padding: .3em;
                border-radius: $radius;
                cursor: pointer;
            }
        }
    }
    
    .link{
        align-self: center;
        padding: .5em 1.7em;
        background: $main;
        color: $white;
        text-decoration: none;
        border-radius: $small-radius;

        &:hover{
            background: $dark-red;
        }
    }
}