@import '../../App.scss';

.features{
    position: relative;
    width: $width;
    display: flex;
    flex-direction: column;
    padding: 4em;
    font-family: $font;

    h1, p{
        align-self: center;
        text-align: center;
    }

    h1{
        color: $main;
    }

    .container{
        width: 100%;
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .flexItem {
        border-radius: 12px;
        box-shadow: 1px 1px 8px rgba(0,0,0, .6);
        height: 300px;
        width: 300px;
        margin: 30px;
        text-align: left;
    }
    .flexItem img {
        height: 70%;
        width: 100%;
    }
    .flexItem p, h4 {
        padding-left: 8px;
        text-align: left;
    }
    
    .link{
        align-self: center;
        padding: .5em 1.7em;
        background: $main;
        color: $white;
        text-decoration: none;
        border-radius: $small-radius;

        &:hover{
            color: $dark-red;
        }
    }
}