@import '../../App.scss';

.features{
    position: relative;
    width: $width;
    display: flex;
    flex-direction: column;
    padding: 4em;
    font-family: $font;

    h1, p{
        align-self: center;
        text-align: center;
    }

    h1{
        color: $main;
    }

    .container{
        width: 100%;
        display: flex;
        gap: 2em;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .flexItem {
        border-radius: 12px;
        box-shadow: 0.01em 0.01em 0.08em rgba($black, 0.5);
        height: calc($wk-height * 0.2);
        width: calc($wk-width * 0.2);
        text-align: left;
        font-family: $font;

        img {
            height: 70%;
            width: 100%;
        }
        p, h4 {
            padding-left: .8em;
            text-align: left;
        }
    }
    
    .link{
        align-self: center;
        padding: .5em 1.7em;
        background: $main;
        color: $white;
        text-decoration: none;
        border-radius: $small-radius;

        &:hover{
            color: $dark-red;
        }
    }
}